/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2015, 2:39:10 AM
    Author     : c0633648
*/

label.error{
float:none;
color:red;
font-size:87.5%;
margin-left:10px;
}